USE [master]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tiendaonline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tiendaonline]
GO
USE [tiendaonline]
GO
/****** Object:  Sequence [dbo].[seq_clientes]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE SEQUENCE [dbo].[seq_clientes] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  UserDefinedFunction [dbo].[dias_desde_ultimo_cambio]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------
-- FUNCIÓN para calcular días desde el último cambio de contraseña
------------------------------------------------------------------------------
CREATE   FUNCTION [dbo].[dias_desde_ultimo_cambio]
(
    @cliente_id NVARCHAR(20)
)
RETURNS INT
AS
BEGIN
    DECLARE @ult_fecha DATETIME;

    -- Fecha del último registro en clientes_pass_log
    SELECT @ult_fecha = MAX(fecha_de_cambio)
    FROM clientes_pass_log
    WHERE cliente_id = @cliente_id;

    IF @ult_fecha IS NULL
        RETURN NULL;  -- Sin cambios registrados

    -- Diferencia en días
    RETURN DATEDIFF(DAY, @ult_fecha, GETDATE());
END;
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[categoria_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[image_path] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias_delete_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias_delete_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[categoria_id] [int] NULL,
	[nombre_categoria] [nvarchar](50) NULL,
	[descripcion] [nvarchar](255) NULL,
	[fecha_log] [datetime] NULL,
	[usuario] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias_insert_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias_insert_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[categoria_id] [int] NULL,
	[nombre_categoria] [nvarchar](50) NULL,
	[descripcion] [nvarchar](255) NULL,
	[fecha_log] [datetime] NULL,
	[usuario] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias_update_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias_update_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[categoria_id] [int] NULL,
	[nombre_categoria_anterior] [nvarchar](50) NULL,
	[descripcion_anterior] [nvarchar](255) NULL,
	[nombre_categoria_nuevo] [nvarchar](50) NULL,
	[descripcion_nuevo] [nvarchar](255) NULL,
	[fecha_log] [datetime] NULL,
	[usuario] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[cliente_id] [nvarchar](20) NOT NULL,
	[cuenta] [nvarchar](20) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[ultimo_login] [datetime] NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes_del_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes_del_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[cuenta] [nvarchar](20) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[estado] [bit] NOT NULL,
	[fecha_log] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes_ins_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes_ins_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[cuenta] [nvarchar](20) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[estado] [bit] NOT NULL,
	[fecha_log] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes_pass_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes_pass_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[contrasena_anterior] [nvarchar](255) NOT NULL,
	[fecha_de_cambio] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes_upd_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes_upd_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[cuenta_anterior] [nvarchar](20) NOT NULL,
	[email_anterior] [nvarchar](150) NOT NULL,
	[estado_anterior] [bit] NOT NULL,
	[cuenta_nuevo] [nvarchar](20) NOT NULL,
	[email_nuevo] [nvarchar](150) NOT NULL,
	[estado_nuevo] [bit] NOT NULL,
	[fecha_log] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datos_facturacion]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datos_facturacion](
	[datos_facturacion_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[rfc] [nvarchar](13) NOT NULL,
	[razon_social] [nvarchar](100) NOT NULL,
	[direccion_fiscal] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[datos_facturacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datos_facturacion_delete_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datos_facturacion_delete_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[datos_facturacion_id] [int] NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[rfc] [nvarchar](13) NOT NULL,
	[razon_social] [nvarchar](100) NOT NULL,
	[direccion_fiscal] [nvarchar](200) NULL,
	[fecha_log] [datetime] NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datos_facturacion_insert_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datos_facturacion_insert_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[datos_facturacion_id] [int] NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[rfc] [nvarchar](13) NOT NULL,
	[razon_social] [nvarchar](100) NOT NULL,
	[direccion_fiscal] [nvarchar](200) NULL,
	[fecha_log] [datetime] NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datos_facturacion_update_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datos_facturacion_update_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[datos_facturacion_id] [int] NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[rfc_old] [nvarchar](13) NULL,
	[razon_social_old] [nvarchar](100) NULL,
	[direccion_fiscal_old] [nvarchar](200) NULL,
	[rfc_new] [nvarchar](13) NULL,
	[razon_social_new] [nvarchar](100) NULL,
	[direccion_fiscal_new] [nvarchar](200) NULL,
	[fecha_log] [datetime] NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datos_personales]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datos_personales](
	[datos_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[direccion] [nvarchar](200) NULL,
	[ciudad] [nvarchar](50) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[pais] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[datos_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datos_personales_delete_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datos_personales_delete_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[datos_id] [int] NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[fecha_log] [datetime] NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datos_personales_insert_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datos_personales_insert_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[datos_id] [int] NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[fecha_log] [datetime] NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datos_personales_update_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datos_personales_update_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[datos_id] [int] NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[nombre_old] [nvarchar](50) NULL,
	[apellidos_old] [nvarchar](100) NULL,
	[telefono_old] [nvarchar](20) NULL,
	[direccion_old] [nvarchar](200) NULL,
	[ciudad_old] [nvarchar](50) NULL,
	[codigo_postal_old] [nvarchar](10) NULL,
	[pais_old] [nvarchar](50) NULL,
	[nombre_new] [nvarchar](50) NULL,
	[apellidos_new] [nvarchar](100) NULL,
	[telefono_new] [nvarchar](20) NULL,
	[direccion_new] [nvarchar](200) NULL,
	[ciudad_new] [nvarchar](50) NULL,
	[codigo_postal_new] [nvarchar](10) NULL,
	[pais_new] [nvarchar](50) NULL,
	[fecha_log] [datetime] NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[empleado_id] [int] IDENTITY(1,1) NOT NULL,
	[cuenta] [nvarchar](20) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[puesto] [nvarchar](30) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[ultimo_login] [datetime] NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados_del_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados_del_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NULL,
	[cuenta] [nvarchar](20) NULL,
	[email] [nvarchar](150) NULL,
	[puesto] [nvarchar](30) NULL,
	[fecha_registro] [datetime] NULL,
	[estado] [bit] NULL,
	[fecha_log] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados_ins_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados_ins_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NULL,
	[cuenta] [nvarchar](20) NULL,
	[email] [nvarchar](150) NULL,
	[puesto] [nvarchar](30) NULL,
	[fecha_registro] [datetime] NULL,
	[estado] [bit] NULL,
	[fecha_log] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados_pass_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados_pass_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[contrasena_anterior] [nvarchar](255) NOT NULL,
	[fecha_de_cambio] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados_upd_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados_upd_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NULL,
	[cuenta_anterior] [nvarchar](20) NULL,
	[email_anterior] [nvarchar](150) NULL,
	[puesto_anterior] [nvarchar](30) NULL,
	[estado_anterior] [bit] NULL,
	[cuenta_nuevo] [nvarchar](20) NULL,
	[email_nuevo] [nvarchar](150) NULL,
	[puesto_nuevo] [nvarchar](30) NULL,
	[estado_nuevo] [bit] NULL,
	[fecha_log] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logs]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[mensaje] [nvarchar](max) NOT NULL,
	[nivel] [varchar](10) NOT NULL,
	[origen] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodos_pago]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodos_pago](
	[metodo_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[direccion] [nvarchar](200) NULL,
	[ciudad] [nvarchar](50) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[pais] [nvarchar](50) NULL,
	[es_principal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[metodo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodos_pago_delete_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodos_pago_delete_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[metodo_id] [int] NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[direccion] [nvarchar](200) NULL,
	[ciudad] [nvarchar](50) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[pais] [nvarchar](50) NULL,
	[es_principal] [bit] NOT NULL,
	[fecha_log] [datetime] NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodos_pago_insert_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodos_pago_insert_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[metodo_id] [int] NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[direccion] [nvarchar](200) NULL,
	[ciudad] [nvarchar](50) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[pais] [nvarchar](50) NULL,
	[es_principal] [bit] NOT NULL,
	[fecha_log] [datetime] NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodos_pago_update_log]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodos_pago_update_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[metodo_id] [int] NOT NULL,
	[cliente_id] [nvarchar](20) NOT NULL,
	[tipo_old] [nvarchar](20) NULL,
	[direccion_old] [nvarchar](200) NULL,
	[ciudad_old] [nvarchar](50) NULL,
	[codigo_postal_old] [nvarchar](10) NULL,
	[pais_old] [nvarchar](50) NULL,
	[es_principal_old] [bit] NULL,
	[tipo_new] [nvarchar](20) NULL,
	[direccion_new] [nvarchar](200) NULL,
	[ciudad_new] [nvarchar](50) NULL,
	[codigo_postal_new] [nvarchar](10) NULL,
	[pais_new] [nvarchar](50) NULL,
	[es_principal_new] [bit] NULL,
	[fecha_log] [datetime] NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [categorias_nombre_cover_all]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [categorias_nombre_cover_all] ON [dbo].[categorias]
(
	[nombre_categoria] ASC
)
INCLUDE([categoria_id],[descripcion],[image_path]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [categorias_delete_log_categoria_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [categorias_delete_log_categoria_fecha] ON [dbo].[categorias_delete_log]
(
	[categoria_id] ASC,
	[fecha_log] DESC
)
INCLUDE([nombre_categoria],[descripcion],[usuario]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [categorias_insert_log_categoria_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [categorias_insert_log_categoria_fecha] ON [dbo].[categorias_insert_log]
(
	[categoria_id] ASC,
	[fecha_log] DESC
)
INCLUDE([nombre_categoria],[descripcion],[usuario]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [categorias_update_log_categoria_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [categorias_update_log_categoria_fecha] ON [dbo].[categorias_update_log]
(
	[categoria_id] ASC,
	[fecha_log] DESC
)
INCLUDE([nombre_categoria_anterior],[descripcion_anterior],[nombre_categoria_nuevo],[descripcion_nuevo],[usuario]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_clientes_activos]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_clientes_activos] ON [dbo].[clientes]
(
	[estado] ASC
)
INCLUDE([cliente_id],[cuenta],[email],[fecha_registro],[ultimo_login]) 
WHERE ([estado]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_clientes_del_log_cliente_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_clientes_del_log_cliente_fecha] ON [dbo].[clientes_del_log]
(
	[cliente_id] ASC,
	[fecha_log] DESC
)
INCLUDE([cuenta],[email],[estado],[fecha_registro]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_clientes_ins_log_cliente_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_clientes_ins_log_cliente_fecha] ON [dbo].[clientes_ins_log]
(
	[cliente_id] ASC,
	[fecha_log] DESC
)
INCLUDE([cuenta],[email],[estado],[fecha_registro]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_clientes_pass_log_cliente_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_clientes_pass_log_cliente_fecha] ON [dbo].[clientes_pass_log]
(
	[cliente_id] ASC,
	[fecha_de_cambio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_clientes_upd_log_cliente_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_clientes_upd_log_cliente_fecha] ON [dbo].[clientes_upd_log]
(
	[cliente_id] ASC,
	[fecha_log] DESC
)
INCLUDE([cuenta_anterior],[email_anterior],[estado_anterior],[cuenta_nuevo],[email_nuevo],[estado_nuevo]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_datos_facturacion_cliente_id]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_datos_facturacion_cliente_id] ON [dbo].[datos_facturacion]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_datos_facturacion_delete_log_fecha_log]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_datos_facturacion_delete_log_fecha_log] ON [dbo].[datos_facturacion_delete_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_datos_facturacion_insert_log_fecha_log]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_datos_facturacion_insert_log_fecha_log] ON [dbo].[datos_facturacion_insert_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_datos_facturacion_update_log_fecha_log]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_datos_facturacion_update_log_fecha_log] ON [dbo].[datos_facturacion_update_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_datos_personales_cliente_id]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_datos_personales_cliente_id] ON [dbo].[datos_personales]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_datos_personales_delete_log_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_datos_personales_delete_log_fecha] ON [dbo].[datos_personales_delete_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_datos_personales_insert_log_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_datos_personales_insert_log_fecha] ON [dbo].[datos_personales_insert_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_datos_personales_update_log_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_datos_personales_update_log_fecha] ON [dbo].[datos_personales_update_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_empleados_estado_cuenta]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_empleados_estado_cuenta] ON [dbo].[empleados]
(
	[estado] ASC,
	[cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_empleados_estado_email]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_empleados_estado_email] ON [dbo].[empleados]
(
	[estado] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_fecha_registro]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_empleados_fecha_registro] ON [dbo].[empleados]
(
	[fecha_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_ultimo_login]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_empleados_ultimo_login] ON [dbo].[empleados]
(
	[ultimo_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_del_log_emp]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_empleados_del_log_emp] ON [dbo].[empleados_del_log]
(
	[empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_del_log_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_empleados_del_log_fecha] ON [dbo].[empleados_del_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_ins_log_emp]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_empleados_ins_log_emp] ON [dbo].[empleados_ins_log]
(
	[empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_ins_log_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_empleados_ins_log_fecha] ON [dbo].[empleados_ins_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_upd_log_emp]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_empleados_upd_log_emp] ON [dbo].[empleados_upd_log]
(
	[empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_upd_log_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_empleados_upd_log_fecha] ON [dbo].[empleados_upd_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_logs_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_logs_fecha] ON [dbo].[logs]
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_logs_nivel_origen]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_logs_nivel_origen] ON [dbo].[logs]
(
	[nivel] ASC,
	[origen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_logs_origen_nivel]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_logs_origen_nivel] ON [dbo].[logs]
(
	[origen] ASC,
	[nivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_metodos_pago_cliente_id]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_metodos_pago_cliente_id] ON [dbo].[metodos_pago]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_metodos_pago_cliente_principal]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_metodos_pago_cliente_principal] ON [dbo].[metodos_pago]
(
	[cliente_id] ASC,
	[es_principal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_metodos_pago_delete_log_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_metodos_pago_delete_log_fecha] ON [dbo].[metodos_pago_delete_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_metodos_pago_insert_log_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_metodos_pago_insert_log_fecha] ON [dbo].[metodos_pago_insert_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_metodos_pago_update_log_fecha]    Script Date: 8/9/2025 8:24:05 AM ******/
CREATE NONCLUSTERED INDEX [idx_metodos_pago_update_log_fecha] ON [dbo].[metodos_pago_update_log]
(
	[fecha_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categorias_delete_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[categorias_delete_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[categorias_insert_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[categorias_insert_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[categorias_update_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[categorias_update_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[clientes_del_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[clientes_ins_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[clientes_pass_log] ADD  DEFAULT (getdate()) FOR [fecha_de_cambio]
GO
ALTER TABLE [dbo].[clientes_upd_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[datos_facturacion_delete_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[datos_facturacion_delete_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[datos_facturacion_insert_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[datos_facturacion_insert_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[datos_facturacion_update_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[datos_facturacion_update_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[datos_personales_delete_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[datos_personales_delete_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[datos_personales_insert_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[datos_personales_insert_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[datos_personales_update_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[datos_personales_update_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[empleados] ADD  DEFAULT ('Administrador') FOR [puesto]
GO
ALTER TABLE [dbo].[empleados] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[empleados] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[empleados_del_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[empleados_ins_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[empleados_pass_log] ADD  DEFAULT (getdate()) FOR [fecha_de_cambio]
GO
ALTER TABLE [dbo].[empleados_upd_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[logs] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[metodos_pago] ADD  DEFAULT ((0)) FOR [es_principal]
GO
ALTER TABLE [dbo].[metodos_pago_delete_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[metodos_pago_delete_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[metodos_pago_insert_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[metodos_pago_insert_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[metodos_pago_update_log] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[metodos_pago_update_log] ADD  DEFAULT (suser_sname()) FOR [usuario]
GO
ALTER TABLE [dbo].[clientes_pass_log]  WITH CHECK ADD  CONSTRAINT [fk_pass_log_cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([cliente_id])
GO
ALTER TABLE [dbo].[clientes_pass_log] CHECK CONSTRAINT [fk_pass_log_cliente]
GO
ALTER TABLE [dbo].[datos_facturacion]  WITH CHECK ADD  CONSTRAINT [fk_datos_facturacion_cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([cliente_id])
GO
ALTER TABLE [dbo].[datos_facturacion] CHECK CONSTRAINT [fk_datos_facturacion_cliente]
GO
ALTER TABLE [dbo].[datos_personales]  WITH CHECK ADD  CONSTRAINT [fk_datos_personales_cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([cliente_id])
GO
ALTER TABLE [dbo].[datos_personales] CHECK CONSTRAINT [fk_datos_personales_cliente]
GO
ALTER TABLE [dbo].[empleados_pass_log]  WITH CHECK ADD  CONSTRAINT [fk_emp_pass_log] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleados] ([empleado_id])
GO
ALTER TABLE [dbo].[empleados_pass_log] CHECK CONSTRAINT [fk_emp_pass_log]
GO
ALTER TABLE [dbo].[metodos_pago]  WITH CHECK ADD  CONSTRAINT [fk_metodos_pago_cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([cliente_id])
GO
ALTER TABLE [dbo].[metodos_pago] CHECK CONSTRAINT [fk_metodos_pago_cliente]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD CHECK  (([estado]=(1) OR [estado]=(0)))
GO
/****** Object:  StoredProcedure [dbo].[buscar_cliente]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[buscar_cliente]
    @termino_busqueda NVARCHAR(150),  -- Puede ser parte de cuenta o email
    @solo_activos BIT = 1             -- Por defecto solo usuarios activos
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Seguridad: No mostrar contraseñas en los resultados
    SELECT 
        cliente_id
    FROM 
        clientes
    WHERE 
        (cuenta LIKE @termino_busqueda OR 
         email LIKE @termino_busqueda)
        AND (@solo_activos = 0 OR estado = 1)
    ORDER BY 
        cuenta;
END;
GO
/****** Object:  StoredProcedure [dbo].[buscar_empleado]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ==============================================================
   Procedimiento para Buscar Empleados por cuenta o email
   ============================================================== */

CREATE   PROCEDURE [dbo].[buscar_empleado]
    @termino_busqueda NVARCHAR(150),  -- Puede ser parte de cuenta o email
    @solo_activos BIT = 1             -- Por defecto solo usuarios activos
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Seguridad: No mostrar contraseñas en los resultados
    SELECT 
        empleado_id
    FROM 
       empleados 
    WHERE 
        (cuenta LIKE '%' + @termino_busqueda + '%' OR 
         email LIKE '%' + @termino_busqueda + '%')
        AND (@solo_activos = 0 OR estado = 1)
    ORDER BY 
        cuenta;
END;
GO
/****** Object:  StoredProcedure [dbo].[buscar_id_para_login]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[buscar_id_para_login]
    --Establecer Parametros de busqueda como vacios
    --para que sean opcionales
    @cuenta NVARCHAR(20)  = NULL,
    @email  NVARCHAR(150) = NULL
AS
BEGIN
    SET NOCOUNT ON;


    -- Validación básica de parámetros

    -- Devolver respuesta vacia si no hay parametros
    IF (COALESCE(LTRIM(RTRIM(@cuenta)), '') = '')
       AND (COALESCE(LTRIM(RTRIM(@email)), '') = '')
    BEGIN
        RETURN;  
    END

    -- Si se proporciono un email, validar formato
    IF @email IS NOT NULL
       AND @email NOT LIKE '%_@__%.__%'
    BEGIN
        RETURN;  -- formato inválido, , devolver nada
    END

    -- Si se proporciono una cuenta, validar longitud <= 20
    IF @cuenta IS NOT NULL
       AND LEN(@cuenta) > 20
    BEGIN
        RETURN;  -- demasiado largo, devolver nada
    END

    -- Intentar buscar en CLIENTES
    SELECT
        cliente_id,
        contrasena
    FROM clientes
    WHERE estado = 1
      AND (
            (@cuenta IS NOT NULL AND cuenta = @cuenta)
         OR (@email   IS NOT NULL AND email  = @email)
          );

    IF @@ROWCOUNT > 0
        RETURN;  -- Devolver cliente si hay coincidencia

    -- Si no hay en CLIENTES, buscar en EMPLEADOS
    SELECT
        empleado_id,
        contrasena
    FROM empleados
    WHERE estado = 1
      AND (
            (@cuenta IS NOT NULL AND cuenta = @cuenta)
         OR (@email   IS NOT NULL AND email  = @email)
          );

    -- Si tampoco hay resultados aqui devolver resultado vacio
END;
GO
/****** Object:  StoredProcedure [dbo].[categorias_delete]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DELETE categorías
CREATE   PROCEDURE [dbo].[categorias_delete]
    @categoria_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM categorias WHERE categoria_id = @categoria_id)
            THROW 51006, 'La categoría ya no se encuentra en la base de datos.', 1;

        DELETE FROM categorias
        WHERE categoria_id = @categoria_id;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'categorias_delete');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[categorias_get_all]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener todas las categorías
CREATE   PROCEDURE [dbo].[categorias_get_all]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        categoria_id,
        nombre_categoria,
        descripcion,
        image_path
    FROM categorias
    ORDER BY nombre_categoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[categorias_get_list]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener lista de categorías (solo id y nombre)
CREATE   PROCEDURE [dbo].[categorias_get_list]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        categoria_id,
        nombre_categoria
    FROM categorias
    ORDER BY nombre_categoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[categorias_insert]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ==============================================================
   Procedimientos
   ============================================================== */

-- INSERT categorías 
CREATE   PROCEDURE [dbo].[categorias_insert]
    @nombre_categoria NVARCHAR(50),
    @descripcion      NVARCHAR(255) = NULL,
    @image_path       NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF LTRIM(RTRIM(@nombre_categoria)) = ''
            THROW 51001, 'nombre_categoria no puede estar vacío.', 1;

        IF EXISTS (SELECT 1 FROM categorias WHERE nombre_categoria = @nombre_categoria)
            THROW 51002, 'La categoría ya existe.', 1;

        INSERT INTO categorias (
            nombre_categoria, descripcion, image_path
        )
        VALUES (
            @nombre_categoria, @descripcion, @image_path
        );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'categorias_insert');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[categorias_update]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- UPDATE categorías
CREATE   PROCEDURE [dbo].[categorias_update]
    @categoria_id      INT,
    @nombre_categoria  NVARCHAR(50),
    @descripcion       NVARCHAR(255) = NULL,
    @image_path        NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM categorias WHERE categoria_id = @categoria_id)
            THROW 51003, 'La categoría ya no se encuentra en la base de datos.', 1;

        IF LTRIM(RTRIM(@nombre_categoria)) = ''
            THROW 51004, 'nombre_categoria no puede estar vacío.', 1;

        IF EXISTS (
            SELECT 1 FROM categorias
            WHERE nombre_categoria = @nombre_categoria
              AND categoria_id <> @categoria_id
        )
            THROW 51005, 'Otra categoría ya usa ese nombre.', 1;

        UPDATE categorias
        SET
            nombre_categoria = @nombre_categoria,
            descripcion      = @descripcion,
            image_path       = @image_path
        WHERE categoria_id = @categoria_id;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'categorias_update');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[cliente_contrasena]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Obtiene la contraseña (hash) de un cliente activo
CREATE   PROCEDURE [dbo].[cliente_contrasena]
    @cliente_id NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT contrasena
    FROM clientes
    WHERE cliente_id = @cliente_id
      AND estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[clientes_delete]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Elimina físicamente un cliente
CREATE   PROCEDURE [dbo].[clientes_delete]
    @cliente_id NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Verificar existencia
        IF NOT EXISTS (SELECT 1 FROM clientes WHERE cliente_id = @cliente_id)
        BEGIN
            RAISERROR('cliente_id no existe.', 16, 1);
            RETURN;
        END;

        DELETE FROM clientes
        WHERE cliente_id = @cliente_id;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'clientes_delete');

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[clientes_insert]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------------------------------------
-- PROCEDIMIENTOS ALMACENADOS PARA GESTIÓN DE CLIENTES
------------------------------------------------------------------------------
-- Inserta un nuevo cliente
CREATE   PROCEDURE [dbo].[clientes_insert]
    @cuenta      NVARCHAR(20),
    @contrasena  NVARCHAR(255),
    @email       NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validar formato de email
        IF @email NOT LIKE '%_@__%.__%'
        BEGIN
            RAISERROR('Formato de email inválido.', 16, 1);
            RETURN;
        END;

        -- Verificar unicidad de cuenta
        IF EXISTS (SELECT 1 FROM clientes WHERE cuenta = @cuenta)
        BEGIN
            RAISERROR('La cuenta ya existe.', 16, 1);
            RETURN;
        END;

        -- Verificar unicidad de email
        IF EXISTS (SELECT 1 FROM clientes WHERE email = @email)
        BEGIN
            RAISERROR('El email ya está registrado.', 16, 1);
            RETURN;
        END;

        -- Generar nuevo ID usando la secuencia
        DECLARE @new_cliente_id NVARCHAR(20) =
            CONCAT('cl-', NEXT VALUE FOR seq_clientes);

        -- Insertar el registro con el ID generado
        INSERT INTO clientes (
            cliente_id,
            cuenta,
            contrasena,
            email
        )
        VALUES (
            @new_cliente_id,
            @cuenta,
            @contrasena,
            @email
        );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        -- Registrar el error en la tabla de logs
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (
            ERROR_MESSAGE(),
            'ERROR',
            'clientes_insert'
        );

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[clientes_por_id]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ==============================================================================
   Procedimiento: Obtener cliente por ID (todos los campos)
   — Devuelve todas las columnas de la tabla clientes
   ============================================================================== */
CREATE   PROCEDURE [dbo].[clientes_por_id]
    @cliente_id NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        cliente_id,
        cuenta,
        contrasena,
        email,
        fecha_registro,
        ultimo_login,
        estado
    FROM clientes
    WHERE cliente_id = @cliente_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[clientes_reactivar]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[clientes_reactivar]
    @cliente_id NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM clientes WHERE cliente_id = @cliente_id)
            THROW 53000, 'cliente_id no existe.', 1;

        IF (SELECT estado FROM clientes WHERE cliente_id = @cliente_id) = 1
            THROW 53001, 'El cliente ya está activo.', 1;

        UPDATE clientes
           SET estado = 1
         WHERE cliente_id = @cliente_id;

        COMMIT TRANSACTION;

        SELECT 1 AS resultado, 'Cliente reactivado correctamente' AS mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'clientes_reactivar');
        SELECT 0 AS resultado, ERROR_MESSAGE() AS mensaje;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[clientes_registrar_login]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Registra la hora de último acceso del cliente
CREATE   PROCEDURE [dbo].[clientes_registrar_login]
    @cliente_id NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Actualiza el campo ultimo_login
        UPDATE clientes
        SET ultimo_login = GETDATE()
        WHERE cliente_id = @cliente_id;
    END TRY
    BEGIN CATCH
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'clientes_registrar_login');
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[clientes_soft_delete]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Desactiva (soft delete) un cliente
CREATE   PROCEDURE [dbo].[clientes_soft_delete]
    @cliente_id NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Verificar existencia
        IF NOT EXISTS (SELECT 1 FROM clientes WHERE cliente_id = @cliente_id)
        BEGIN
            RAISERROR('cliente_id no existe.', 16, 1);
            RETURN;
        END;

        -- Verificar estado actual
        IF (SELECT estado FROM clientes WHERE cliente_id = @cliente_id) = 0
        BEGIN
            RAISERROR('El cliente ya está desactivado.', 16, 1);
            RETURN;
        END;

        -- Cambiar estado a inactivo
        UPDATE clientes
        SET estado = 0
        WHERE cliente_id = @cliente_id;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'clientes_soft_delete');

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[clientes_update]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Actualiza datos de un cliente
CREATE   PROCEDURE [dbo].[clientes_update]
    @cliente_id  NVARCHAR(20),
    @cuenta      NVARCHAR(20),
    @email       NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Verificar existencia del cliente
        IF NOT EXISTS (SELECT 1 FROM clientes WHERE cliente_id = @cliente_id)
        BEGIN
            RAISERROR('cliente_id no existe.', 16, 1);
            RETURN;
        END;

        -- Validar unicidad de cuenta
        IF EXISTS (
            SELECT 1 FROM clientes
            WHERE cuenta = @cuenta AND cliente_id <> @cliente_id
        )
        BEGIN
            RAISERROR('La cuenta ya está en uso por otro cliente.', 16, 1);
            RETURN;
        END;

        -- Validar unicidad de email
        IF EXISTS (
            SELECT 1 FROM clientes
            WHERE email = @email AND cliente_id <> @cliente_id
        )
        BEGIN
            RAISERROR('El email ya está en uso por otro cliente.', 16, 1);
            RETURN;
        END;

        -- Actualiza cuenta y email
        UPDATE clientes
        SET cuenta = @cuenta,
            email  = @email
        WHERE cliente_id = @cliente_id;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'clientes_update');

        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[datos_facturacion_delete]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DELETE
CREATE   PROCEDURE [dbo].[datos_facturacion_delete]
    @cliente_id NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM datos_facturacion WHERE cliente_id = @cliente_id)
            THROW 51003, 'No existe datos_facturacion para este cliente.', 1;

        DELETE FROM datos_facturacion
        WHERE cliente_id = @cliente_id;

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'datos_facturacion_delete');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[datos_facturacion_insert]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- Procedimientos almacenados (CRUD completo)
-- ==============================================
-- INSERT
CREATE   PROCEDURE [dbo].[datos_facturacion_insert]
    @cliente_id       NVARCHAR(20),
    @rfc              NVARCHAR(13),
    @razon_social     NVARCHAR(100),
    @direccion_fiscal NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM clientes WHERE cliente_id = @cliente_id)
            THROW 51000, 'El cliente_id no existe.', 1;

        IF EXISTS (SELECT 1 FROM datos_facturacion WHERE cliente_id = @cliente_id)
            THROW 51001, 'Ya existe datos_facturacion para este cliente.', 1;

        INSERT INTO datos_facturacion (
            cliente_id, rfc, razon_social, direccion_fiscal
        )
        VALUES (
            @cliente_id, @rfc, @razon_social, @direccion_fiscal
        );

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'datos_facturacion_insert');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[datos_facturacion_select_all]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT todos
CREATE   PROCEDURE [dbo].[datos_facturacion_select_all]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        datos_facturacion_id,
        cliente_id,
        rfc,
        razon_social,
        direccion_fiscal
    FROM datos_facturacion;
END;
GO
/****** Object:  StoredProcedure [dbo].[datos_facturacion_select_by_cliente]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT por cliente
CREATE   PROCEDURE [dbo].[datos_facturacion_select_by_cliente]
    @cliente_id NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        datos_facturacion_id,
        cliente_id,
        rfc,
        razon_social,
        direccion_fiscal
    FROM datos_facturacion
    WHERE cliente_id = @cliente_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[datos_facturacion_update]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- UPDATE
CREATE   PROCEDURE [dbo].[datos_facturacion_update]
    @cliente_id       NVARCHAR(20),
    @rfc              NVARCHAR(13),
    @razon_social     NVARCHAR(100),
    @direccion_fiscal NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM datos_facturacion WHERE cliente_id = @cliente_id)
            THROW 51002, 'No existe datos_facturacion para este cliente.', 1;

        UPDATE datos_facturacion
        SET
            rfc              = @rfc,
            razon_social     = @razon_social,
            direccion_fiscal = @direccion_fiscal
        WHERE cliente_id = @cliente_id;

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'datos_facturacion_update');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[datos_personales_delete]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DELETE
CREATE   PROCEDURE [dbo].[datos_personales_delete]
    @cliente_id NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM datos_personales WHERE cliente_id = @cliente_id)
            THROW 51013, 'No existe datos_personales para este cliente.', 1;

        DELETE FROM datos_personales
        WHERE cliente_id = @cliente_id;

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'datos_personales_delete');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[datos_personales_insert]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- Procedimientos almacenados (CRUD completo)
-- ==============================================
-- INSERT
CREATE   PROCEDURE [dbo].[datos_personales_insert]
    @cliente_id     NVARCHAR(20),
    @nombre         NVARCHAR(50),
    @apellidos      NVARCHAR(100),
    @telefono       NVARCHAR(20)  = NULL,
    @direccion      NVARCHAR(200) = NULL,
    @ciudad         NVARCHAR(50)  = NULL,
    @codigo_postal  NVARCHAR(10)  = NULL,
    @pais           NVARCHAR(50)  = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM clientes WHERE cliente_id = @cliente_id)
            THROW 51010, 'cliente_id no existe.', 1;

        IF EXISTS (SELECT 1 FROM datos_personales WHERE cliente_id = @cliente_id)
            THROW 51011, 'Ya existe datos_personales para este cliente.', 1;

        INSERT INTO datos_personales (
            cliente_id,
            nombre,
            apellidos,
            telefono,
            direccion,
            ciudad,
            codigo_postal,
            pais
        )
        VALUES (
            @cliente_id,
            @nombre,
            @apellidos,
            @telefono,
            @direccion,
            @ciudad,
            @codigo_postal,
            @pais
        );

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'datos_personales_insert');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[datos_personales_select_all]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT todos
CREATE   PROCEDURE [dbo].[datos_personales_select_all]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        datos_id,
        cliente_id,
        nombre,
        apellidos,
        telefono,
        direccion,
        ciudad,
        codigo_postal,
        pais
    FROM datos_personales;
END;
GO
/****** Object:  StoredProcedure [dbo].[datos_personales_select_by_cliente]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT por cliente
CREATE   PROCEDURE [dbo].[datos_personales_select_by_cliente]
    @cliente_id NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        datos_id,
        cliente_id,
        nombre,
        apellidos,
        telefono,
        direccion,
        ciudad,
        codigo_postal,
        pais
    FROM datos_personales
    WHERE cliente_id = @cliente_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[datos_personales_update]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- UPDATE
CREATE   PROCEDURE [dbo].[datos_personales_update]
    @cliente_id     NVARCHAR(20),
    @nombre         NVARCHAR(50),
    @apellidos      NVARCHAR(100),
    @telefono       NVARCHAR(20)  = NULL,
    @direccion      NVARCHAR(200) = NULL,
    @ciudad         NVARCHAR(50)  = NULL,
    @codigo_postal  NVARCHAR(10)  = NULL,
    @pais           NVARCHAR(50)  = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM datos_personales WHERE cliente_id = @cliente_id)
            THROW 51012, 'No existe datos_personales para este cliente.', 1;

        UPDATE datos_personales
        SET
            nombre        = @nombre,
            apellidos     = @apellidos,
            telefono      = @telefono,
            direccion     = @direccion,
            ciudad        = @ciudad,
            codigo_postal = @codigo_postal,
            pais          = @pais
        WHERE cliente_id = @cliente_id;

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'datos_personales_update');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[empleados_contrasena]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para Obtener Contraseña Empleado por ID
CREATE   PROCEDURE [dbo].[empleados_contrasena]
    @empleado_id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        contrasena
    FROM 
        empleados
    WHERE 
        empleado_id = @empleado_id
        AND estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[empleados_delete]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento DELETE empleados (hard delete)
CREATE   PROCEDURE [dbo].[empleados_delete]
    @empleado_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF NOT EXISTS (SELECT 1 FROM empleados WHERE empleado_id = @empleado_id)
        BEGIN
            RAISERROR('empleado_id no existe.', 16, 1);
            RETURN;
        END
        
        DELETE FROM empleados
        WHERE empleado_id = @empleado_id;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'empleados_delete');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[empleados_insert]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento INSERT empleados
CREATE   PROCEDURE [dbo].[empleados_insert]
    @cuenta      NVARCHAR(20),
    @contrasena  NVARCHAR(255),
    @email       NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF EXISTS (SELECT 1 FROM empleados WHERE cuenta = @cuenta)
        BEGIN
            RAISERROR('La cuenta ya existe.', 16, 1);
            RETURN;
        END
        
        IF EXISTS (SELECT 1 FROM empleados WHERE email = @email)
        BEGIN
            RAISERROR('El email ya está registrado.', 16, 1);
            RETURN;
        END
        
        INSERT INTO empleados (cuenta, contrasena, email)
        VALUES (@cuenta, @contrasena, @email);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'empleados_insert');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[empleados_por_id]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para Obtener Empleado por ID
CREATE   PROCEDURE [dbo].[empleados_por_id]
    @empleado_id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        empleado_id,
        cuenta,
        email,
        puesto,
        fecha_registro,
        ultimo_login,
        estado,
        CASE estado 
            WHEN 1 THEN 'Activo' 
            ELSE 'Inactivo' 
        END AS estado_descripcion
    FROM 
        empleados
    WHERE 
        empleado_id = @empleado_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[empleados_reactivar]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento REACTIVAR empleados (estado = 1)
CREATE   PROCEDURE [dbo].[empleados_reactivar]
    @empleado_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF NOT EXISTS (SELECT 1 FROM empleados WHERE empleado_id = @empleado_id)
        BEGIN
            RAISERROR('empleado_id no existe.', 16, 1);
            RETURN;
        END
        
        IF (SELECT estado FROM empleados WHERE empleado_id = @empleado_id) = 1
        BEGIN
            RAISERROR('El empleado ya está activo.', 16, 1);
            RETURN;
        END

        -- actualizar estado a 1
        UPDATE empleados
        SET estado = 1
        WHERE empleado_id = @empleado_id;
        
        COMMIT TRANSACTION;
        
        SELECT 1 AS resultado, 'Empleado reactivado correctamente' AS mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'empleados_reactivar');
        SELECT 0 AS resultado, ERROR_MESSAGE() AS mensaje;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[empleados_registrar_login]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- Procedimiento para Registrar Último Login
CREATE   PROCEDURE [dbo].[empleados_registrar_login]
    @empleado_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE empleados 
        SET ultimo_login = GETDATE()
        WHERE empleado_id = @empleado_id;
    END TRY
    BEGIN CATCH
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'empleados_registrar_login');
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[empleados_soft_delete]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento SOFT DELETE empleados (estado = 0)
CREATE   PROCEDURE [dbo].[empleados_soft_delete]
    @empleado_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF NOT EXISTS (SELECT 1 FROM empleados WHERE empleado_id = @empleado_id)
        BEGIN
            RAISERROR('empleado_id no existe.', 16, 1);
            RETURN;
        END
        
        IF (SELECT estado FROM empleados WHERE empleado_id = @empleado_id) = 0
        BEGIN
            RAISERROR('El empleado ya está desactivado.', 16, 1);
            RETURN;
        END
        
        UPDATE empleados
        SET estado = 0
        WHERE empleado_id = @empleado_id;
        
        COMMIT TRANSACTION;
        
        SELECT 1 AS resultado, 'Empleado desactivado correctamente' AS mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'empleados_soft_delete');
        SELECT 0 AS resultado, ERROR_MESSAGE() AS mensaje;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[empleados_update]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento UPDATE empleados
CREATE   PROCEDURE [dbo].[empleados_update]
    @empleado_id  INT,
    @cuenta      NVARCHAR(20),
    @email       NVARCHAR(150),
    @puesto      NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Validar existencia
        IF NOT EXISTS (SELECT 1 FROM empleados WHERE empleado_id = @empleado_id)
        BEGIN
            RAISERROR('empleado_id no existe.', 16, 1);
            RETURN;
        END
        
        -- Validar unicidad de cuenta
        IF EXISTS (
            SELECT 1 FROM empleados
            WHERE cuenta = @cuenta
              AND empleado_id <> @empleado_id
        )
        BEGIN
            RAISERROR('La cuenta ya está en uso por otro empleado.', 16, 1);
            RETURN;
        END
        
        -- Validar unicidad de email
        IF EXISTS (
            SELECT 1 FROM empleados
            WHERE email = @email
              AND empleado_id <> @empleado_id
        )
        BEGIN
            RAISERROR('El email ya está en uso por otro empleado.', 16, 1);
            RETURN;
        END
        
        UPDATE empleados
        SET
            cuenta = @cuenta,
            email = @email,
            puesto = @puesto
        WHERE empleado_id = @empleado_id;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        INSERT INTO logs (mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'empleados_update');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[metodos_pago_delete]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DELETE
CREATE   PROCEDURE [dbo].[metodos_pago_delete]
    @metodo_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
            IF NOT EXISTS (SELECT 1 FROM metodos_pago WHERE metodo_id = @metodo_id)
                THROW 52002, 'metodo_id no existe.', 1;

            DELETE FROM metodos_pago
            WHERE metodo_id = @metodo_id;
        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT>0 ROLLBACK;
        INSERT INTO logs(mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'metodos_pago_delete');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[metodos_pago_insert]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- Procedimientos almacenados (CRUD completo)
-- ==============================================
-- INSERT
CREATE   PROCEDURE [dbo].[metodos_pago_insert]
    @cliente_id    NVARCHAR(20),
    @tipo          NVARCHAR(20),
    @direccion     NVARCHAR(200) = NULL,
    @ciudad        NVARCHAR(50)  = NULL,
    @codigo_postal NVARCHAR(10)  = NULL,
    @pais          NVARCHAR(50)  = NULL,
    @es_principal  BIT = 0
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
            IF NOT EXISTS (SELECT 1 FROM clientes WHERE cliente_id = @cliente_id)
                THROW 52000, 'cliente_id no existe.', 1;

            INSERT INTO metodos_pago (
                cliente_id, tipo, direccion, ciudad, codigo_postal, pais, es_principal
            )
            VALUES (
                @cliente_id, @tipo, @direccion, @ciudad, @codigo_postal, @pais, @es_principal
            );
        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT>0 ROLLBACK;
        INSERT INTO logs(mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'metodos_pago_insert');
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[metodos_pago_select_all]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT todos
CREATE   PROCEDURE [dbo].[metodos_pago_select_all]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        metodo_id,
        cliente_id,
        tipo,
        direccion,
        ciudad,
        codigo_postal,
        pais,
        es_principal
    FROM metodos_pago;
END;
GO
/****** Object:  StoredProcedure [dbo].[metodos_pago_select_by_cliente]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT por cliente
CREATE   PROCEDURE [dbo].[metodos_pago_select_by_cliente]
    @cliente_id NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        metodo_id,
        cliente_id,
        tipo,
        direccion,
        ciudad,
        codigo_postal,
        pais,
        es_principal
    FROM metodos_pago
    WHERE cliente_id = @cliente_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[metodos_pago_update]    Script Date: 8/9/2025 8:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- UPDATE
CREATE   PROCEDURE [dbo].[metodos_pago_update]
    @metodo_id     INT,
    @tipo          NVARCHAR(20),
    @direccion     NVARCHAR(200) = NULL,
    @ciudad        NVARCHAR(50)  = NULL,
    @codigo_postal NVARCHAR(10)  = NULL,
    @pais          NVARCHAR(50)  = NULL,
    @es_principal  BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
            IF NOT EXISTS (SELECT 1 FROM metodos_pago WHERE metodo_id = @metodo_id)
                THROW 52001, 'metodo_id no existe.', 1;

            UPDATE metodos_pago
            SET
                tipo         = @tipo,
                direccion    = COALESCE(@direccion, direccion),
                ciudad       = COALESCE(@ciudad, ciudad),
                codigo_postal= COALESCE(@codigo_postal, codigo_postal),
                pais         = COALESCE(@pais, pais),
                es_principal = COALESCE(@es_principal, es_principal)
            WHERE metodo_id = @metodo_id;
        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT>0 ROLLBACK;
        INSERT INTO logs(mensaje, nivel, origen)
        VALUES (ERROR_MESSAGE(), 'ERROR', 'metodos_pago_update');
        THROW;
    END CATCH
END;
GO
USE [master]
GO
